.Container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.voted {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App {
  height: 100vh;
  margin: 0 auto;
  width: 450px;
  background-color: #F5F5F5;
}


.App-header {
    padding: 20px 20px 30px;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.candidate-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.candidate-buttons > button {
    width: 100%;
    font-size: 30px;
    margin: 20px 0;
}

.content {
    padding: 20px;
}

.App-link {
  color: #61dafb;
}
